*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}
/* styling body as flex so as to get all its child in the center */
body{
    background-color: royalblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling the stopwatch container */
.box{
    background-color:whitesmoke;
    height: fit-content;
    width: fit-content;
    padding:50px;
    border-radius: 60px 10px 60px 10px;
    box-shadow: 5px 5px 10px white;
}
/* Heading Style */
.heading{
    color:#00ffc3; 
    text-align: center;
}

h1{
    font-size: 50px;
}
/* Styling buttons */
button{
    border:none;
    outline:none;
    font-size: 20px;
    padding: 10px;
    background-color:darkgray;
    margin:15px;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
    
}
/* Adding some media queries  */
@media screen and (max-width:480px){

    *{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    background-color: navy;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color:wheat;
    height: fit-content;
    width: fit-content;
    padding:30px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2.5px 2.5px 5px white;
}

}
@media screen and (max-width:450px){
    .box{
        background-color:wheat;
        height: fit-content;
        width: fit-content;
        padding:20px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 1.5px 1.5px 1.5px white;
    }
}
@media screen and (max-width:620px){
    .box{
        background-color:wheat;
        height: fit-content;
        width: fit-content;
        padding:20px;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 2px 2px 2px white;
    }
    button{
        border:none;
        outline:none;
        font-size: 10px;
        padding: 10px;
        background-color:darkgray;
        margin:15px;
        border-radius: 3px;
        color: azure;
        cursor: pointer;
        
    }
    h1{
        font-size: 30px;
    }
}